body {
  max-width: 316px;
  margin: 0 auto;
  background-color: #23252C;
  font-family: 'Inter', sans-serif;
}

#root {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about,
.interestests {
  color: white;
}

.ab1 {
  background-color: #1A1B21;
}
.profilePic {
  overflow: hidden;
}

.ai {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  width: 247px;
  margin: 0 auto;
}
.mainContent {
  background-color: #1A1B21;
  margin-top: -24px;
}